@tailwind base;
@tailwind components;
@tailwind utilities;


/* Lamp Light Effect */

.lamp-light{
    position:absolute;
    top:120px;
    left:50%;
    transform:translateX(-50%);
    width:420px;
    height:420px;

    background: linear-gradient(
        to bottom,
        rgba(255,230,150,0.65) 0%,
        rgba(255,230,150,0.35) 30%,
        rgba(255,230,150,0.15) 55%,
        transparent 80%
    );

    filter:blur(40px);
    border-radius:50%;
}
.menu-item{
display:block;
padding:12px 20px;
color:#ddd;
text-decoration:none;
font-size:15px;
transition:0.3s;
}

.menu-item:hover{
background:#2c3e50;
color:white;
padding-left:25px;
}

.notification-wrapper{
position:relative;
margin-right:20px;
}

.bell-btn{
font-size:22px;
background:none;
border:none;
cursor:pointer;
position:relative;
}

.notif-count{
position:absolute;
top:-5px;
right:-8px;
background:red;
color:white;
border-radius:50%;
padding:2px 6px;
font-size:12px;
}

.notif-dropdown{
position:absolute;
right:0;
top:40px;
width:300px;
background:white;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
display:none;
z-index:100;
}

.notif-title{
padding:10px;
font-weight:bold;
border-bottom:1px solid #eee;
}

.notif-item{
padding:10px;
border-bottom:1px solid #eee;
cursor:pointer;
}

.notif-item:hover{
background:#f5f5f5;
}